
<h1 class="textcolor text-center">Happy Birthday</h1>

<img src="assets/train.png" alt="train" class="train" />

<div class="row text-center">
  <div class="col-lg-6">
    <img src="assets/thumbs_up.png" alt="thumbs up" class="thumbs-up" />
    <img src="assets/jenny.png" alt="jenny" />
  </div>


  <div class="col-lg-6">
    <img src="x" />
  </div>

</div>

<div class="pyro">
  <div class="before"></div>
  <div class="after"></div>
</div>

<audio controls autoplay loop>
  <source src="assets/happybirthday_02.mp3" type="audio/mp3">
</audio>

<ng-adsense></ng-adsense>

